html,
body {
  height: auto;
}

body {
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  height: 180px;
  background-image: url("images/grid-background.jfif");
  background-position: center;
  background-size: cover;
  border: black 1px solid;
}

.grid div {
  height: 20px;
  width: 20px;
}

.finish-block {
  background-color: red;
}

.start-block {
  background-color: blue;
}

.l1,
.l2,
.l3 {
  background-color: transparent;
}

.l4,
.l5 {
  background-color: rgb(39, 46, 227);
}

.c1,
.c2,
.c3,
.c4 {
  background-color: transparent;
}
.c5,
.c6,
.c7 {
  background-color: rgb(98, 98, 98);
}

.frog {
  background-image: url("images/play.jpg");
  background-color: white;
  background-size: 25px 25px;
  background-position: center;
}

.end {
  background-image: url("images/end.png");
  background-color: #ffffff;
  background-size: 25px 25px;
}

.win {
  background-image: url("images/win.jpg");
  background-color: #ffffff;
  background-size: 40px 40px;
  background-position: center;
}
