.grid{
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
}

.square{
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    border: 1px black solid;
}

.mole{
    background-image: url('images/mole.png');
    background-size: cover;
}

.hit-mole{
    background-image: url('images/mole-hit.jpg');
    background-size: cover;
}


