body {
  background-color: black;
  color: white;
}

.result {
  position: absolute;
  top: 130px;
  width: 300px;
  text-align: center;
}

.grid {
  width: 300px;
  height: 300px;
  border: white 1px solid;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  border-radius: 50%;
  background-color: blueviolet;
}

.cell {
  border: solid white 1px;
}

.shooter {
  border-top: white 4px solid;
  background-color: blue;
}

.bullet {
  background-color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.boom {
  background-color: red;
}
